<div class="space-y-2">
	<p-floatlabel variant="on">
		<label for="domainGoalName">Enter goal name <orb-required-star /></label>

		<input
			pInputText
			[formControl]="fc()"
			type="text"
			id="domainGoalName"
			autocomplete="off"
			fluid
		/>
	</p-floatlabel>

	@if ((fc().touched || fc().dirty) && fc().hasError('required')) {
		<p-message severity="error" icon="pi pi-exclamation-circle" variant="simple" size="small">
			Name is required.
		</p-message>
	}

	@if ((fc().touched || fc().dirty) && fc().hasError('maxlength')) {
		<p-message severity="error" icon="pi pi-exclamation-circle" variant="simple" size="small">
			Name should contain at most 64 characters.
		</p-message>
	}
</div>
