<div class="space-y-2">
	<p-floatlabel variant="on" title="Flag">
		<label for="password">Enter your password</label>

		<input
			pInputText
			[formControl]="fc()"
			type="password"
			id="password"
			autocomplete="new-password"
			autofocus
			fluid
		/>
	</p-floatlabel>

	@if ((fc().touched || fc().dirty) && fc().hasError('required')) {
		<p-message severity="error" icon="pi pi-exclamation-circle" variant="simple" size="small">
			Password is required.
		</p-message>
	}

	@if ((fc().touched || fc().dirty) && fc().hasError('maxlength')) {
		<p-message severity="error" icon="pi pi-exclamation-circle" variant="simple" size="small">
			Password should contain at most 32 characters.
		</p-message>
	}
</div>
