<div class="space-y-2">
	<p-floatlabel variant="on" title="Flag">
		<label for="domainName">Enter domain's name</label>

		<input pInputText [formControl]="fc()" type="text" id="domainName" autocomplete="off" fluid />
	</p-floatlabel>

	@if ((fc().touched || fc().dirty) && fc().hasError('required')) {
		<p-message severity="error" icon="pi pi-exclamation-circle" variant="simple" size="small">
			Domain is required.
		</p-message>
	}

	@if ((fc().touched || fc().dirty) && fc().hasError('maxlength')) {
		<p-message severity="error" icon="pi pi-exclamation-circle" variant="simple" size="small">
			Domain should contain at most 36 characters.
		</p-message>
	}
</div>
