<main>
	<header class="sm:flex justify-between items-center gap-1 space-y-2 sm:space-y-0 mb-8">
		<p class="text-lg">Your domains</p>

		<div class="flex items-center gap-1">
			<p-button
				label="Refresh"
				icon="pi pi-refresh"
				size="small"
				rounded
				[loading]="areFetchingAllDomains()"
				[disabled]="areFetchingAllDomains()"
				(onClick)="fetchAllDomains()"
			/>

			<p-button label="New" icon="pi pi-plus" size="small" rounded (onClick)="createDomain()" />

			<p-button
				label="Delete All"
				icon="pi pi-trash"
				severity="danger"
				size="small"
				rounded
				(onClick)="deleteAllDomains()"
			/>
		</div>
	</header>

	@if (domains().length) {
		@for (domain of domains(); track $index) {
			<orb-domain-preview [domain]="domain" />
		}
	} @else {
		<p>No domains were found. Please try again or make sure your have created.</p>
	}
</main>
