<main>
	<header
		class="xs:flex flex-row-reverse justify-between items-center gap-1 space-y-4 xs:space-y-0 mb-8"
	>
		<div class="xs:flex items-center gap-1 space-y-2 xs:space-y-0">
			<p-button
				label="Refresh"
				icon="pi pi-refresh"
				size="small"
				rounded
				fluid
				class="block"
				[loading]="areFetchingAllDomains()"
				[disabled]="areFetchingAllDomains()"
				(onClick)="fetchAllDomains()"
			/>

			<p-button
				label="New"
				icon="pi pi-plus"
				size="small"
				rounded
				fluid
				class="block"
				(onClick)="createDomain()"
			/>

			<p-button
				label="Delete All"
				icon="pi pi-trash"
				severity="danger"
				size="small"
				rounded
				fluid
				class="block"
				(onClick)="deleteAllDomains()"
			/>
		</div>

		<p class="text-2xl">Your domains</p>
	</header>

	@if (domains().length) {
		@for (domain of domains(); track $index) {
			<orb-domain-preview [domain]="domain" (deleted)="fetchAllDomains()" />
		}
	} @else {
		<p>No domains were found. Please try again or make sure your have created.</p>
	}
</main>
