<div class="space-y-2">
	<p-floatlabel variant="on" title="Flag">
		<label for="email">Enter your email</label>

		<input pInputText [formControl]="fc()" type="email" id="email" autofocus="off" fluid />
	</p-floatlabel>

	@if ((fc().touched || fc().dirty) && fc().hasError('required')) {
		<p-message severity="error" icon="pi pi-exclamation-circle" variant="simple" size="small">
			Email is required.
		</p-message>
	}

	@if ((fc().touched || fc().dirty) && fc().hasError('email')) {
		<p-message severity="error" icon="pi pi-exclamation-circle" variant="simple" size="small">
			Email should be a valid email address.
		</p-message>
	}
</div>
