@import 'tailwindcss';
@import 'tailwindcss-primeui';
@custom-variant dark (&:where(.gb-app-dark, .gb-app-dark *));

@theme {
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1536px;
}
