<p-confirmdialog />

<p-button
	type="button"
	icon="pi pi-bars"
	pStyleClass="@next"
	enterFromClass="hidden bg-red-400"
	leaveToClass="hidden"
	[hideOnOutsideClick]="true"
	text
	rounded
	aria-label="Open menu"
/>

<div
	class="hidden top-0 right-0 bottom-0 z-50 absolute space-y-4 bg-white dark:bg-black p-2 border-surface-400 dark:border-surface-700 border-l w-64"
>
	@for (s of sections; track $index) {
		<div class="space-y-4">
			<p class="font-medium text-sm uppercase">{{ s.sectionName }}</p>

			<div class="space-y-2 pl-2">
				@for (item of s.items; track $index) {
					<button
						type="button"
						class="flex items-center gap-2 w-full hover:text-primary-400 dark:text-surface-400 transition-colors cursor-pointer"
						[class]="item.class"
						(click)="item.action($event)"
					>
						<i [class]="item.icon"></i>

						<span class="font-medium">{{ item.label }}</span>
					</button>
				}
			</div>
		</div>

		@if ($index.valueOf() + 1 < sections.length) {
			<p-divider />
		}
	}
</div>
