<p-button
	type="button"
	icon="pi pi-bars"
	pStyleClass="@next"
	enterFromClass="hidden"
	enterToClass="opacity-100 translate-x-0"
	leaveFromClass="opacity-0 translate-x-32"
	leaveToClass="hidden"
	[hideOnOutsideClick]="true"
	text
	rounded
	aria-label="Open menu"
/>

<div
	class="hidden top-0 right-0 bottom-0 z-50 absolute space-y-2 bg-white dark:bg-surface-900 p-2 dark:border-surface-700 border-l w-64"
>
	@for (s of sections; track $index) {
		<p class="font-medium text-sm uppercase">{{ s.sectionName }}</p>

		<div class="space-y-1 pl-2">
			@for (item of s.items; track $index) {
				<button
					type="button"
					class="flex items-center gap-2 w-full hover:text-primary-400 dark:text-surface-400 transition-colors cursor-pointer"
					(click)="item.action()"
				>
					<i [class]="item.icon"></i>

					<span class="font-medium">{{ item.label }}</span>
				</button>
			}
		</div>
	}
</div>
